.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.list-group-item {
  cursor: pointer;
}

li.bottom-margin {
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #eee;
}
.container .margined {
    margin: 20px 20px;
}

.container .no-padding {
  padding: 0;
}
